<div class="fixed-plugin" style="top: 300px">
    <!-- <div class="dropdown open"> -->
    <div class="dropdown">
      <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title">Adjustments</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Full Background</p>
            <div class="switch"
              data-on-label="ON"
              data-off-label="OFF">
              <input type="checkbox" checked data-target="section-header" data-type="parallax"/>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Colors</p>
            <div class="pull-right">
              <span class="badge filter badge-blue active" data-color="blue"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-orange" data-color="orange"></span>
              <span class="badge filter badge-red" data-color="red"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>