	  <div class="modal" id="myModal" role="dialog">
	  	<div class="modal-dialog" role="document">
	  		<div class="modal-content">
	  			<div class="modal-body">
	  				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  					<span aria-hidden="true">&times;</span>
	  				</button>
	  				<p>YOUR SMALL SUPPORT CAN SAVE A LIFE!!!</p>

	  				<script type="text/javascript">
	  					var submission = false;
	  				</script>
	  				<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
					onload="if(submission)  {window.location='/';}"></iframe>

	  				<hr>
	  				<form
	  					action="https://docs.google.com/forms/d/e/1FAIpQLSevyyUkmXBrRT5MHcoaybJhvrSI2u-uWJ6-qJabagV3GOYtYg/formResponse"
	  					target="hidden_iframe" onsubmit="submission=true;" method="POST">

	  					<div class="form-group">
	  						<label for="name" class="col-form-label">Full Name</label>
	  						<input type="text" class="form-control" name="entry.1496567983" id="name" required>
	  					</div>
	  					<div class="form-group">
	  						<label for="group" class="col-form-label">Select your Blood Group</label>
	  						<select name="entry.930349276" class="form-control" id="group" required>
	  							<option class="form-control" value="" disabled="" selected="" hidden="">...</option>
	  							<option class="form-control" value="O +">O +</option>
	  							<option class="form-control" value="O -">O -</option>
								<option class="form-control" value="A +">A +</option>
								<option class="form-control" value="A -">A -</option>
								<option class="form-control" value="B +">B +</option>
								<option class="form-control" value="B -">B -</option>
								<option class="form-control" value="AB +">AB +</option>
								<option class="form-control" value="AB -">AB -</option>
	  						</select>
	  						<!-- <input type="text" class="form-control" name="entry.1326217940" id="group" required> -->
	  					</div>
	  					<div class="form-group">
	  						<label for="location" class="col-form-label">Your Location (Ex: HSR Layout, Jayanagar,
	  							K R Puram, etc.)</label>
	  						<input type="text" class="form-control" name="entry.1326217940" id="location" required>
	  					</div>
	  					<div class="form-group">
	  						<label for="phone" class="col-form-label">Phone Number (10 digit Mobile No.)</label>
	  						<input type="tel" class="form-control" pattern="[6-9]{1}[0-9]{9}" name="entry.328452139" id="phone" required>
						  </div>
						<p class="text-muted">Our team will contact you shortly after registration to verify the information.</p>
	  					<div class="row">
	  						<div class="col-sm-12">
	  							<input type="submit" class="btn btn-primary" value="Register">
	  						</div>
	  					</div>
	  				</form>

	  				<div class="modal-footer">
	  					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>