<div class="fresh-table toolbar-color-red">
  <!--
      Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
      Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
    -->
  <div class="toolbar">
    <button id="alertBtn" class="btn btn-default">Register</button>
  </div>

  <table id="fresh-table" class="table">
    <thead>
      {% if page.group %}
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="dlocation" data-sortable="true">Donor Location</th>
      <th data-field="phone">Phone</th>
      <th data-field="bgroup">Blood Group</th>
      {% else %}
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="bgroup" data-sortable="true">Blood Group</th>
      <th data-field="dlocation" data-sortable="true">Donor Location</th>
      <th data-field="phone">Phone</th>
      {% endif %}
    </thead>
    <tbody>
      {% if page.group %}
      {% for donor in site.data.donors %}
      {% if donor.group == page.group %}
      <tr>
        <td>{{donor.name}}</td>
        <td>{{donor.location}}</td>
        <td>{{donor.number}}</td>
        <td>{{donor.group}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% else %}
      {% for donor in site.data.donors %}
      <tr>
        <td>{{donor.name}}</td>
        <td>{{donor.group}}</td>
        <td>{{donor.location}}</td>
        <td>{{donor.number}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>