<!doctype html>
<html lang="en">
  {% include head.html %}
<body> 

<div class="wrapper">

    {% include branding.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

		<div class="description">
			<h2>YOUR SMALL SUPPORT CAN SAVE A LIFE!!!</h2>
		</div>

        <div class="fresh-table full-color-blue">
          <!--
              Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
              Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
			-->
			<script type="text/javascript">
				var submission = false;
			</script>
			<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
		  onload="if(submission)  {window.location='/';}"></iframe>

	  				<form style="color: white; margin: 1em; padding: 1em;"
	  					action="https://docs.google.com/forms/d/e/1FAIpQLSevyyUkmXBrRT5MHcoaybJhvrSI2u-uWJ6-qJabagV3GOYtYg/formResponse"
	  					target="hidden_iframe" onsubmit="submission=true;" method="POST">

	  					<div class="form-group">
	  						<label for="name" class="col-form-label">Full Name</label>
	  						<input type="text" class="form-control" name="entry.1496567983" id="name" required>
	  					</div>
	  					<div class="form-group">
	  						<label for="group" class="col-form-label">Select your Blood Group</label>
	  						<select name="entry.930349276" class="form-control" id="group" required>
	  							<option class="form-control" value="" disabled="" selected="" hidden="">...</option>
	  							<option class="form-control" value="O +">O +</option>
	  							<option class="form-control" value="O -">O -</option>
								<option class="form-control" value="A +">A +</option>
								<option class="form-control" value="A -">A -</option>
								<option class="form-control" value="B +">B +</option>
								<option class="form-control" value="B -">B -</option>
								<option class="form-control" value="AB +">AB +</option>
								<option class="form-control" value="AB -">AB -</option>
	  						</select>
	  						<!-- <input type="text" class="form-control" name="entry.1326217940" id="group" required> -->
	  					</div>
	  					<div class="form-group">
	  						<label for="location" class="col-form-label">Your Location (Ex: HSR Layout, Jayanagar,
	  							K R Puram, etc.)</label>
	  						<input type="text" class="form-control" name="entry.1326217940" id="location" required>
	  					</div>
	  					<div class="form-group">
	  						<label for="phone" class="col-form-label">Phone Number (10 digit Mobile No.)</label>
	  						<input type="tel" class="form-control" pattern="[6-9]{1}[0-9]{9}" name="entry.328452139" id="phone" required>
						  </div>
						<p>Our team will contact you shortly after registration to verify the information.</p>
	  					<div class="row">
	  						<div class="col-sm-12">
	  							<input type="submit" class="btn btn-primary" value="Register">
	  						</div>
	  					</div>
            </form>
            
        </div>

		{% include bloodgroup.html %}
		
        {% include footer.html %}

      </div>
    </div>
  </div>

</div>

{% include register_form.html %}

</body>

{% include footer_script.html %}

</html>
