<!doctype html>
<html lang="en">
  {% include head.html %}
<body> 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPR37ZQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
<div class="wrapper">

    {% include branding.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

		<div class="description">
			<h2>YOUR SMALL SUPPORT CAN SAVE A LIFE!!!</h2>
		</div>

        <div class="fresh-table full-color-blue">
          <!--
              Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
              Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
			-->
			<script type="text/javascript">
				var submission = false;
			</script>
			<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
		  onload="if(submission)  {window.location='/thankyou';}"></iframe>

		  <form style="color: white; margin: 1em; padding: 1em;"
		  action="https://docs.google.com/forms/d/e/1FAIpQLSe77F1kM5nbm7YyX6yMDKChvcyRmUGbxc1RhR5JUUXAG_kDwg/formResponse"
		  target="hidden_iframe" onsubmit="submission=true;" method="POST">

		  <div class="form-group">
			  <label for="name" class="col-form-label">Full Name</label>
			  <input type="text" class="form-control" name="entry.1051521735" id="name" required>
		  </div>
		  <div class="form-group">
			<label for="phone" class="col-form-label">Phone Number (10 digit Mobile No.)</label>
			<input type="tel" class="form-control" pattern="[6-9]{1}[0-9]{9}" name="entry.687649057" id="phone" required>
		</div>
		<div class="form-group">
			<label for="phone2" class="col-form-label">Alternate Phone Number (10 digit Mobile No.)</label>
			<input type="tel" class="form-control" pattern="[6-9]{1}[0-9]{9}" name="entry.1763716831" id="phone2" required>
		</div>
		<div class="form-group">
			<label for="location" class="col-form-label">Your Location (Ex: HSR Layout, Jayanagar,
				K R Puram, etc.)</label>
			<input type="text" class="form-control" name="entry.98769261" id="location" required>
		</div>
		  <div class="form-group">
			  <label for="group" class="col-form-label">Select your Blood Group</label>
			  <select name="entry.653865462" class="form-control" id="group" required>
				  <option class="form-control" value="" disabled="" selected="" hidden="">...</option>
				  <option class="form-control" value="O +">O +</option>
				  <option class="form-control" value="O -">O -</option>
				<option class="form-control" value="A +">A +</option>
				<option class="form-control" value="A -">A -</option>
				<option class="form-control" value="B +">B +</option>
				<option class="form-control" value="B -">B -</option>
				<option class="form-control" value="AB +">AB +</option>
				<option class="form-control" value="AB -">AB -</option>
			  </select>
			  <!-- <input type="text" class="form-control" name="entry.1326217940" id="group" required> -->
		  </div>
		  <div class="form-group">
			<label for="willingtodonate" class="col-form-label">Willing to donate blood when required?</label>
			<select name="entry.915730261" class="form-control" id="willingtodonate" required>
				<option class="form-control" value="" disabled="" selected="" hidden="">...</option>
				<option class="form-control" value="Yes">Yes</option>
				<option class="form-control" value="No">No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="covidYN" class="col-form-label">Have you ever been diagnosed with COVID-19?</label>
			<select name="entry.763509401" class="form-control" id="covidYN" required>
				<option class="form-control" value="" disabled="" selected="" hidden="">...</option>
				<option class="form-control" value="Yes">Yes</option>
				<option class="form-control" value="No">No</option>
			</select>
		</div>
		<hr style="border-top: 1px dashed white">
		<div class="form-group">
			<p>I hereby confirm that, by sumitting this information I am willing to list my information on "blood.rotaract3190.org".</p>
			<input type="checkbox" oninvalid="setCustomValidity('Confirm your Consent')" oninput="setCustomValidity('')" id="concent" value="Yes" required>
			<label for="concent"> Yes</label>
		</div>
		<hr style="border-top: 1px dashed white">
		<div class="row">
			<div class="col-sm-12">
				<input type="submit" class="btn btn-primary" value="Register">
			</div>
		</div>
	  </form>
            
        </div>

		{% include bloodgroup.html %}
		
        {% include footer.html %}

      </div>
    </div>
  </div>

</div>

{% include register_form.html %}

</body>

{% include footer_script.html %}

</html>
